.App {
    text-align: center;
    background: #ffffff;
    margin-left: 10%;
    margin-right: 10%;
}

body {
    background: #efefef;
    
}

p {
    margin: 0;
}

ul {
    list-style: none;
    padding-left: 0;
}

.container {
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}