.App {
    text-align: center;
}

p {
    margin: 0;
}

ul {
    list-style: none;
    padding-left: 0;
}

.container {
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}